.container {
    height: 100%;
    background-color: aliceblue;
    min-height: 790px;
}

.table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
}

tr, th, td {
    border: 1px solid #c9cdcf;
    padding: 10px;
}

td {
    
}

th {
    margin: auto 10px;
    padding: 15px;
}



/* Add Student form */

.add{
    position: absolute;
    left: 40%;
    display: flex;
	
}

.form {
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    width: 360px;
	background: #fff;
	font: inherit;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
	border: 0;
	outline: 0;
	padding: 22px 18px;
    border-radius: 10px;
}

.form__item {
    border: 1px solid;
    border-radius: 5px;
    height: 30px;
    width: 280px;
    margin: 5px;
}

.btn {
    width: 250px;
    display: inline-block;
	background: transparent;
	font: inherit;
	transition: all 200ms ease-in;
	cursor: pointer;
    background-color: #7f8ff4;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border: none;
	border-radius: 5px;
	padding: 10px 36px;
    margin-top: 10px;
    color: white;
    font-size: 20px;
}

.btn__edit{
    width: 100px;
    background-color: rgb(216, 216, 46);

}
.btn__deleteAll{
    background-color: rgb(198, 20, 20);
}
.btn__delete{
    width: 100px;
    background-color: rgb(198, 20, 20);
}
.btn__yes{

}
.btn__no{
 
}